In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
df=pd.read_csv('Dataset of Diabetes .csv')
df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [2]:
df.replace(to_replace ="P",
                 value ="1", inplace= True)
df.replace(to_replace ="Y",
                 value ="1", inplace= True)
df.replace(to_replace ="N",
                 value ="0", inplace= True)
df.replace(to_replace ="M",
                 value ="0", inplace= True)
df.replace(to_replace ="F",
                 value ="1", inplace= True)
df

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,1,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
1,735,34221,0,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0
2,420,47975,1,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
3,680,87656,1,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
4,504,34223,0,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,397,47514,0,55,2.7,39,11.7,3.9,0.6,1.3,2.3,0.2,30.0,1
495,681,34401,1,58,4.5,53,9.0,5.5,3.2,3.2,1.4,1.5,35.0,1
496,749,34402,0,55,4.1,86,10.0,4.9,0.7,1.2,3.4,0.4,33.0,1
497,321,34403,1,54,2.5,35,10.7,5.6,3.0,1.1,4.2,1.4,39.0,1
498,381,32336,0,58,5.9,61,8.0,4.3,2.4,0.9,2.0,1.1,29.0,1

In [3]:
new_data= df.drop('CLASS', axis=1)
df_feat=pd.DataFrame(new_data, columns= df.columns[:-1])
df.columns[:-1]

Index(['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG',
       'HDL', 'LDL', 'VLDL', 'BMI'],
      dtype='object')

In [4]:
df

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,1,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
1,735,34221,0,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0
2,420,47975,1,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
3,680,87656,1,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,0
4,504,34223,0,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,397,47514,0,55,2.7,39,11.7,3.9,0.6,1.3,2.3,0.2,30.0,1
495,681,34401,1,58,4.5,53,9.0,5.5,3.2,3.2,1.4,1.5,35.0,1
496,749,34402,0,55,4.1,86,10.0,4.9,0.7,1.2,3.4,0.4,33.0,1
497,321,34403,1,54,2.5,35,10.7,5.6,3.0,1.1,4.2,1.4,39.0,1
498,381,32336,0,58,5.9,61,8.0,4.3,2.4,0.9,2.0,1.1,29.0,1

In [5]:
from sklearn.model_selection import train_test_split
X= df_feat
y=df['CLASS']
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=101)
from sklearn.ensemble import RandomForestClassifier
rfc =  RandomForestClassifier(n_estimators=200)
rfc.fit(X_train,y_train)
pred=rfc.predict(X_test)
print(pred)

['1' '1' '1' '1' '1' '1' '1' '0' '1' '1' '0' '0' '0' '1' '1' '1' '1' '1'
 '1' '0' '1' '0' '1' '1' '1' '0' '1' '1' '1' '0' '1' '1' '1' '1' '0' '1'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '0' '1' '1' '0' '1'
 '1' '1' '1' '1' '1' '0' '1' '1' '0' '1' '0' '1' '1' '1' '1' '1' '0' '1'
 '0' '1' '1' '0' '1' '1' '1' '0' '1' '1' '1' '0' '1' '1' '1' '1' '1' '1'
 '1' '1' '1' '0' '1' '0' '1' '0' '1' '1' '0' '0' '1' '0' '1' '1' '0' '0'
 '1' '0' '1' '1' '1' '1' '1' '1' '1' '1' '0' '1' '1' '1' '1' '1' '0' '1'
 '1' '1' '1' '1' '0' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '0' '0'
 '1' '1' '1' '0' '1' '1']

In [6]:
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,pred))
print(classification_report(y_test,pred))

[[ 32   0]
 [  2 116]]
              precision    recall  f1-score   support

           0       0.94      1.00      0.97        32
           1       1.00      0.98      0.99       118

    accuracy                           0.99       150
   macro avg       0.97      0.99      0.98       150
weighted avg       0.99      0.99      0.99       150